# Specify filepatterns you want to assign special attributes.
*                   text=auto
*.sh                text eol=LF
*.slurm             text eol=LF
*.slurmtemplate     text eol=LF
*.xlsx binary